<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/materialize.min.css">
    <title>Pin Template</title>
</head>
<body>
















    <main>
        <div class="container">
            <div class="row">
                <div class="col s12" style="margin-top: 3rem; margin-bottom: 2rem;">
                    <div class="center-align">
                        <img src="../public/images/logo.png" class="" alt="">
                        <br>
                            <span>Welcome to <b>Admissions</b></span>
                        <h4 style="margin-top: 0px;" class="teal-text">
                            <small><b>UNIT OF ALILHAM ISLAMIC COLLEGE</b></small>
                        </h4>
                        <b></b>
                    </div>
                   
                    
                    <p>
                        <div class="divider"></div>
                        <p>
                            <b>
                                Apply for Admission
                            </b>
                        </p>
                        <small style="padding-bottom: 1rem;">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit eligendi provident possimus. Illum consectetur possimus, quasi odio animi vel aperiam sunt molestias consequuntur quo sed accusamus adipisci rem cupiditate nostrum!
                        </small>
                        <div class="divider" style="margin-top: 1rem;"></div>
                    </p>
                </div>


                <div class="col s12 m6 l6">
                    <form action="">
                        <div class="row">
                            <div class="col s12">
                              <div class="card white z-depth-3">
                                <div class="card-content white">

                                    <span class="card-title teal-text" style="margin-bottom: 2rem;">
                                        Get Started
                                    </span>

                                    <p style="margin-bottom: 2rem;">
                                       <b class="teal-text">
                                        Enter your Application PIN
                                    </b>
                                    </p>

                                    <p style="margin-bottom: 3rem;">
                                        <div class="input-field col s12">
                                            <input name="pin" id="pin" type="text" class="validate" data-length="20">
                                            <label for="pin">Enter PIN...</label>
                                        </div>
                                    </p>



                                    <b class="teal-text">School Section</b>
                                    <p>
                                        <small>
                                            I am a very simple card. I am good at containing small bits of information.
                                            I am convenient because I require little markup to use effectively.
                                        </small>
                                        <br>
                                        <div class="row" style="margin-top: .5rem;">
                                            <div class="col s12 m4 l4">
                                                <label style="margin-right: 2rem;">
                                                    <input class="with-gap" name="group2" type="radio" />
                                                    <span>Pre-Nursery</span>
                                                </label>
                                            </div>

                                            <div class="col s12 m4 l4">
                                                <label style="margin-right: 2rem;">
                                                    <input class="with-gap" name="group2" type="radio" />
                                                    <span>Nursery</span>
                                                </label>
                                            </div>

                                            <div class="col s12 m4 l4">
                                                <label style="margin-right: 2rem;">
                                                    <input class="with-gap" name="group2" type="radio" />
                                                    <span>Primary</span>
                                                </label>
                                            </div>
                                            <div class="col s12 m4 l4">
                                                <label style="margin-right: 2rem;">
                                                    <input class="with-gap" name="group2" type="radio" />
                                                    <span>Junior Secondary</span>
                                                </label>
                                            </div>
                                            <div class="col s12 m4 l4">
                                                <label style="margin-right: 2rem;">
                                                    <input class="with-gap" name="group2" type="radio" />
                                                    <span>Senior Secondary</span>
                                                </label>
                                            </div>
                                            
                                        </div>
                                        
                                    </p>


                                    
                                    <b class="teal-text">School Branch</b>
                                    <p>
                                        <small>
                                            I am a very simple card. I am good at containing small bits of information.
                                            I am convenient because I require little markup to use effectively.
                                        </small>
                                        <br>
                                        <div class="row" style="margin-top: .5rem;">
                                            <div class="col s12 m4 l4">
                                                <label style="margin-right: 2rem;">
                                                    <input class="with-gap" name="branch" type="radio" />
                                                    <span>Katsina</span>
                                                </label>
                                            </div>

                                            <div class="col s12 m4 l4">
                                                <label style="margin-right: 2rem;">
                                                    <input class="with-gap" name="branch" type="radio" />
                                                    <span>Katsina</span>
                                                </label>
                                            </div>

                                            <div class="col s12 m4 l4">
                                                <label style="margin-right: 2rem;">
                                                    <input class="with-gap" name="branch" type="radio" />
                                                    <span>Katsina</span>
                                                </label>
                                            </div>
                                            
                                        </div>
                                    </p>

                                </div>
                                <div class="card-action">
                                    <a href="#" class="btn-small green darken-3 z-depth-2">
                                        Continue Here
                                    </a>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                    </form>
                </div>




                <div class="col s12 m3 l3" style="border: 1px solid rgb(214, 214, 214);">
                    <div class="row">
                        <div class="col s12">
                          <div class="card-panel teal lighten-5 z-depth-0">
                            <span class="teal-text">
                                <p>
                                    <b>Check Admission Status?</b>
                                </p>
                                <small>
                                    I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                </small>
                                <form action="">
                                    <p style="margin-bottom: 3rem;">
                                        <div class="input-field col s12">
                                            <input name="admision_status_email" id="admision_status_email" type="text" class="validate" data-length="20">
                                            <label for="admision_status_email">Enter email...</label>
                                        </div>
                                    </p>
                                    <p>
                                        <button class="btn-small teal darken-3 white-text">Check Admission</button>
                                    </p>
                                </form>
                            </span>
                          </div>
                        </div>
                    </div>
                
                </div>





                <div class="col s12 m3 l3">
                    <div class="row">
                        <div class="col s12">
                          <div class="card-panel teal lighten-2 z-depth-0">
                            <span class="white-text">
                                <p>
                                    <b>Dont have a PIN?</b>
                                </p>
                                <small>
                                    I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                                </small>
                                <p>
                                    <button class="btn-small white teal-text text-darken-4">Get pin here</button>
                                </p>
                            </span>
                          </div>
                        </div>
                    </div>
                </div>



                <div class="col s12" style="margin-top: 3rem;">
                    <small>powered by <b class="teal-text">iservng</b></small>
                </div>
              </div>
        </div>
    </main>






    
    <script src="./test.js"></script>
    <script src="../../public/js/materialize.min.js"></script>
</body>
</html>