<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/materialize.min.css">
    <title>Tester</title>
</head>
<body>

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 center-align" style="margin-top: 4rem;">
                    <img src="../public/images/logo.png" alt="">
                    <p><b>Alilham Islamic College Katsina</b></p>
                    <h4 class="teal-text text-darken-3"><small>Our School by <b>Section</b></small></h4>

                    <div class="divider"></div>

                    <p>
                        <small>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore in, quibusdam sequi consequatur officia eius delectus minima cumque, laboriosam animi quam voluptatem quaerat numquam corrupti atque, voluptatum laudantium obcaecati earum?
                        </small>
                    </p>
                </div>



<!-- ....... -->
                <div class="col s12 m4 l4">
                    <div class="row">
                        <div class="col s12">
                          <div class="card z-depth-0 teal lighten-5">
                                
                                <div class="card-content">
                                    <p class="teal-text darken-3"><b>Pre Nursery</b></p>
                                    <p>

                                        <table>
                                            <thead>

                                                <tr>
                                                    <th><small>School Fees: </small></th>
                                                    <td><small>12,000</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Exam Fees:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Admission Form:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>School Uniform:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>


                                                <tr>
                                                    <th><small>Cardigan:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Text Books:</small></th>
                                                    <td><small>7500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Games/Sport:</small></th>
                                                    <td><small>600</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Sport Wear:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Report Booklet:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>P.T.A:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small class="red-text">Total:</small></th>
                                                    <td><b class="red-text">55000</b></td>
                                                </tr>
                                            </thead>
                                    
                                            <tbody></tbody>
                                          </table>
                                                
                                    </p>
                                </div>
                               
                          </div>
                        </div>
                      </div>
                </div>








                <div class="col s12 m4 l4">
                    <div class="row">
                        <div class="col s12">
                          <div class="card z-depth-0 teal lighten-5">
                                
                                <div class="card-content">
                                    <p class="teal-text darken-3"><b>Nursery</b></p>
                                    <p>

                                        <table>
                                            <thead>

                                                <tr>
                                                    <th><small>School Fees: </small></th>
                                                    <td><small>12,000</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Exam Fees:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Admission Form:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>School Uniform:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>


                                                <tr>
                                                    <th><small>Cardigan:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Text Books:</small></th>
                                                    <td><small>7500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Games/Sport:</small></th>
                                                    <td><small>600</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Sport Wear:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Report Booklet:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>P.T.A:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small class="red-text">Total:</small></th>
                                                    <td><b class="red-text">55000</b></td>
                                                </tr>
                                            </thead>
                                    
                                            <tbody></tbody>
                                          </table>
                                                
                                    </p>
                                </div>
                               
                          </div>
                        </div>
                      </div>
                </div>










                <div class="col s12 m4 l4">
                    <div class="row">
                        <div class="col s12">
                          <div class="card z-depth-0 teal lighten-5">
                                
                                <div class="card-content">
                                    <p class="teal-text darken-3"><b>Primary</b></p>
                                    <p>

                                        <table>
                                            <thead>

                                                <tr>
                                                    <th><small>School Fees: </small></th>
                                                    <td><small>12,000</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Exam Fees:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Admission Form:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>School Uniform:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>


                                                <tr>
                                                    <th><small>Cardigan:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Text Books:</small></th>
                                                    <td><small>7500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Games/Sport:</small></th>
                                                    <td><small>600</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Sport Wear:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Report Booklet:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>P.T.A:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small class="red-text">Total:</small></th>
                                                    <td><b class="red-text">55000</b></td>
                                                </tr>
                                            </thead>
                                    
                                            <tbody></tbody>
                                          </table>
                                                
                                    </p>
                                </div>
                               
                          </div>
                        </div>
                      </div>
                </div>















                <div class="col s12 m4 l4">
                    <div class="row">
                        <div class="col s12">
                          <div class="card z-depth-0 teal lighten-5">
                                
                                <div class="card-content">
                                    <p class="teal-text darken-3"><b>Junior Secondary</b></p>
                                    <p>

                                        <table>
                                            <thead>

                                                <tr>
                                                    <th><small>School Fees: </small></th>
                                                    <td><small>12,000</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Exam Fees:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Admission Form:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>School Uniform:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>


                                                <tr>
                                                    <th><small>Cardigan:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Text Books:</small></th>
                                                    <td><small>7500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Games/Sport:</small></th>
                                                    <td><small>600</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Sport Wear:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Report Booklet:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>P.T.A:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small class="red-text">Total:</small></th>
                                                    <td><b class="red-text">55000</b></td>
                                                </tr>
                                            </thead>
                                    
                                            <tbody></tbody>
                                          </table>
                                                
                                    </p>
                                </div>
                               
                          </div>
                        </div>
                      </div>
                </div>



















                <div class="col s12 m4 l4">
                    <div class="row">
                        <div class="col s12">
                          <div class="card z-depth-0 teal lighten-5">
                                
                                <div class="card-content">
                                    <p class="teal-text darken-3"><b>Senior Secondary</b></p>
                                    <p>

                                        <table>
                                            <thead>

                                                <tr>
                                                    <th><small>School Fees: </small></th>
                                                    <td><small>12,000</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Exam Fees:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Admission Form:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>School Uniform:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>


                                                <tr>
                                                    <th><small>Cardigan:</small></th>
                                                    <td><small>500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Text Books:</small></th>
                                                    <td><small>7500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Games/Sport:</small></th>
                                                    <td><small>600</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Sport Wear:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>Report Booklet:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small>P.T.A:</small></th>
                                                    <td><small>3500</small></td>
                                                </tr>

                                                <tr>
                                                    <th><small class="red-text">Total:</small></th>
                                                    <td><b class="red-text">55000</b></td>
                                                </tr>
                                            </thead>
                                    
                                            <tbody></tbody>
                                          </table>
                                                
                                    </p>
                                </div>
                               
                          </div>
                        </div>
                      </div>
                </div>





                

                


                <div class="col s12" style="margin-top: 3rem;">
                    <p>
                        <small>
                            Powered by <b class="teal-text">iservng</b>
                        </small>
                    </p>
                </div>
                
            </div>
                    
        </div>
    </main>
    
    <!-- <script type="module" src="./test.js"></script> -->
    <script src="../public/js/materialize.min.js"></script>
    <script>
         document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
        });
    </script>
</body>
</html>