

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/materialize.min.css">
    <title>Tester</title>
</head>
<body>

    <main>
        
        <div class="container">
            <div class="row">

                <div class="col s12" style="margin-top: 3rem;">
                    <div class="center-align">
                        <img src="../public/images/logo.png" alt="">
                        <p><b class="teal-text">Alilham Islamic College Katsina</b></p>
                    </div>
                </div>

                <div class="col s12" style="margin-top: 3rem;">
                    <h4 class="teal-text"><small><b>Staff Application for Employment</b></small></h4>

                    <p>
                        <p>
                            <b class="red-text">Instructions </b>
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus officiis aut veritatis incidunt ducimus omnis expedita totam praesentium quaerat! Quisquam magni autem sunt nihil voluptates excepturi incidunt, alias praesentium nobis!</small>
                    </p>
                    
                </div>

                <div class="col s12" style="margin-top: 2rem;">

                    <h5><small class="red-text"><b>Personal Information</b></small></h5>
                    
                </div>


                <div class="col s12 m4 l4" style="margin-top: 3rem;">
                    <p><b class="teal-text">Upload Passport</b></p>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload recent passport">
                        </div>
                    </div>
                </div>

                <form class="col s12">
                    <!-- Personal Information  -->
                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="firstname" type="text" class="validate">
                              <label for="firstname">First Name</label>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="surname" type="text" class="validate">
                              <label for="surname">Surname</label>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="othername" type="text" class="validate">
                              <label for="othername">Other Name</label>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="email" type="email" class="validate">
                              <label for="email">Email</label>
                            </div>
                        </div>
                    </div>


                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="password" type="password" class="validate">
                              <label for="password">Password</label>
                            </div>
                        </div>
                    </div>


                    
                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="confirmpassword" type="password" class="validate">
                              <label for="confirmpassword"> Confirm Password</label>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="dateofbirth" type="date" class="validate">
                              <label for="dateofbirth">Date of Birth</label>
                            </div>
                        </div>
                    </div>


                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="gender" type="text" class="validate">
                              <label for="gender"> Gender</label>
                            </div>
                        </div>
                    </div>


                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="address" type="text" class="validate">
                              <label for="address"> Residential Address</label>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="phone" type="text" class="validate">
                              <label for="phone">Phone</label>
                            </div>
                        </div>
                    </div>


                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="stateoforigin" type="text" class="validate">
                              <label for="stateoforigin">State of Origin</label>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="nationality" type="text" class="validate">
                              <label for="nationality"> Nationality</label>
                            </div>
                        </div>
                    </div>


                    <!-- Credentials FILES  -->
                    <div class="col s12" style="margin-top: 2rem;">

                        <h5><small class="red-text"><b>Credentials</b></small></h5>
                        
                    </div>


                    <div class="col s12 m4 l4">
                        <p><b class="teal-text">Upload Application Letter</b></p>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="upload PDF format only">
                            </div>
                        </div>
                    </div>


                    <div class="col s12 m4 l4">
                        <p><b class="teal-text">Upload CV</b></p>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="upload PDF format only">
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <p><b class="teal-text">Upload Cover Letter</b></p>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="upload PDF format only">
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <p><b class="teal-text">Upload O-Level 1</b></p>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="upload PDF format only">
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <p><b class="teal-text">Upload O-Level 2 </b><small class="pink-text">(optional)</small></p>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="upload PDF format only">
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 l4">
                        <p><b class="teal-text">Upload A-Level Certificate</b></p>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="upload PDF format only">
                            </div>
                        </div>
                    </div>



                    <div class="col s12" style="margin-top: 2rem;">

                        <h5><small class="red-text"><b>Professional Certificates</b></small></h5>
                        
                    </div>

                    <div class="col s12 m4 l4">
                        <p><b class="teal-text">Upload Professional Certificate </b><small class="pink-text">(optional)</small></p>
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="upload PDF format only">
                            </div>
                        </div>
                    </div>


                    <div class="col s12" style="margin-top: 2rem;">

                        <h5><small class="red-text"><b>School Section</b></small></h5>

                        <p>
                            <p class="teal-text"><b>Select School Section</b></p>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam optio magni, quisquam, nemo praesentium culpa qui ex harum molestias quasi pariatur voluptatum aspernatur nam architecto laborum tempore iure. Rem, eligendi.</small>
                        </p>
                        
                    </div>


                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="section" type="radio" />
                              <span>Pre-Nursery</span>
                            </label>
                          </p>
                    </div>

                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="section" type="radio" />
                              <span>Nursery</span>
                            </label>
                          </p>
                    </div>

                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="section" type="radio" />
                              <span>Primary</span>
                            </label>
                          </p>
                    </div>

                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="section" type="radio" />
                              <span>Junior Secondary</span>
                            </label>
                          </p>
                    </div>

                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="section" type="radio" />
                              <span>Senior Secondary</span>
                            </label>
                          </p>
                    </div>






                    <div class="col s12" style="margin-top: 2rem;">

                        <h5><small class="red-text"><b>School Branch</b></small></h5>

                        <p>
                            <p class="teal-text"><b>Select School Branch</b></p>
                            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam optio magni, quisquam, nemo praesentium culpa qui ex harum molestias quasi pariatur voluptatum aspernatur nam architecto laborum tempore iure. Rem, eligendi.</small>
                        </p>
                        
                    </div>


                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="branch" type="radio" />
                              <span>Katsina Branch</span>
                            </label>
                          </p>
                    </div>

                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="branch" type="radio" />
                              <span>Tamaka Branch</span>
                            </label>
                          </p>
                    </div>

                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="branch" type="radio" />
                              <span>Kano Branch</span>
                            </label>
                          </p>
                    </div>

                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="branch" type="radio" />
                              <span>Kaduna Branch</span>
                            </label>
                          </p>
                    </div>

                    <div class="col s12 m4 l4">
                        <p>
                            <label>
                              <input name="branch" type="radio" />
                              <span>Daura Branch</span>
                            </label>
                          </p>
                    </div>








                    <div class="col s12" style="margin-top: 2rem;">

                        <h5><small class="red-text"><b>Attestation</b></small></h5>
                        
                    </div>

                    <div class="col s12">
                        <p><b class="teal-text">Accept or Decline Attestation </b><small class="pink-text"></small></p>
                        <div class="file-field input-field">
                           <small>

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veritatis mollitia blanditiis eum deserunt eaque, accusantium obcaecati laborum explicabo qui quibusdam vitae aliquid quo aliquam dolore repellat, modi velit distinctio!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veritatis mollitia blanditiis eum deserunt eaque, accusantium obcaecati laborum explicabo qui quibusdam vitae aliquid quo aliquam dolore repellat, modi velit distinctio!
                            
                            </small>
                        </div>
                    </div>


                    <div class="col s12 m4 l4">
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="switch">
                                    <label>
                                      Decline
                                      <input type="checkbox">
                                      <span class="lever"></span>
                                      Accept
                                    </label>
                                  </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>

                    

                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                              <input type="submit" value="Submit Application" class="btn-large green darken-3 validate">
                              <label>&nbsp;</label>
                            </div>
                        </div>
                    </div>



                    <div class="col s12" style="margin-top: 3rem;">
                        <p><small>Powered by </small><b class="teal-text">iservng</b></p>
                    </div>





                </form>

            </div>
        </div>
        
    </main>
    
    <script type="module" src="./modal/students.js"></script>
    <script src="../public/js/materialize.min.js"></script>
    <script>
         document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);

            //Tabs
            var tabs = document.querySelectorAll('.tabs');
            var instances = M.Tabs.init(tabs);
        });



        // document.addEventListener('DOMContentLoaded', function() {
        //     var elems = document.querySelectorAll('.modal');
        //     var instances = M.Modal.init(elems, options);
        // });
    </script>
</body>
</html>