<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/materialize.min.css">
    <title>Tester</title>
</head>
<body>

    <main>
        
        <div class="container">
            <div class="row">
                <div class="col s12 center-align" style="margin-top: 3rem;">
                    <h4 class="green-text"><small>Upload <b>Successful!</b></small></h4>
                </div>

                <div class="col s12 m4 l4" style="margin-top: 2rem; margin-bottom: 2rem;">
                    <div class="center-align">
                        <img src="../public/images/logo.png" alt="">
                        <p class="teal-text"><b>Alilham Islamic College Katisina</b></p>
                    </div>
                </div>



                <div class="col s12 m8 l8">
                    
                    <div>
                        <p><b>Dear Uderman Hulasky</b></p>
                        <small>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, ea aliquam nostrum, in incidunt quia placeat, cum similique facere provident tenetur iure! Cupiditate illum aliquam quam animi iusto magnam nihil?
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam qui at nobis repellat, quas voluptatibus sunt ad magni obcaecati, sed, nesciunt amet enim. Distinctio eius laudantium expedita error sapiente libero!

                        </small>
                        <p>
                            <a href="#" class="btn-small green darken-3">Info Link Here</a>
                        </p>
                    </div>

                    <div class="extraInfo" style="margin-top: 3rem;">
                        <p class="green-text"><b>Please Note</b></p>
                        <p>
                            <small>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum rem illum reiciendis illo quae perferendis veritatis sequi autem, nihil tempore facilis repellat ipsa est totam adipisci explicabo provident libero officia!
                            </small>
                        </p>
                    </div>

                    <div class="divider"></div>
                    <p>
                        <small>Powered by <b class="green-text">iservng</b></small>
                    </p>
                </div>
              </div>
        </div>
        
    </main>
    
    <!-- <script type="module" src="./modal/students.js"></script> -->
    <script type="module" src="./test.js"></script>
    <script src="../public/js/materialize.min.js"></script>
    <script>
         

    </script>
</body>
</html>